<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Funded by the Croatian Science Foundation</h2>
            <p class="text-faded">Installation Research Project &middot; Call Identifier: UIP-2025-02<br>
            Host Institution: Faculty of Electrical Engineering, Computer Science and Information Technology Osijek (FERIT)<br>
            Project Duration: 5 years &middot; Total Budget: &euro;297,848.85</p>
        </div>
    </div>
</aside>
