<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research Team</h2>
                <hr class="primary">
                <p class="text-muted team-intro">An interdisciplinary research group connecting expertise in computer science, medical image analysis, mathematical modeling, and biomedical engineering.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="team-section-title">Core Team</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-4x"></i></div>
                    <h4>Dr. Marija Habijan</h4>
                    <p class="team-role">Principal Investigator</p>
                    <p class="team-affiliation">FERIT Osijek</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-4x"></i></div>
                    <h4>Assoc. Prof. Hrvoje Leventi&cacute;</h4>
                    <p class="team-role">Researcher</p>
                    <p class="team-affiliation">FERIT Osijek</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-4x"></i></div>
                    <h4>Dr. Marin Ben&ccaron;evi&cacute;</h4>
                    <p class="team-role">Researcher</p>
                    <p class="team-affiliation">FERIT Osijek</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="team-section-title">Collaborators</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Prof. Dr. Ir. Aleksandra Pi&zcaron;urica</h4>
                    <p class="team-affiliation">Ghent University, Belgium</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Dr. Ir. Danilo Babin</h4>
                    <p class="team-affiliation">Ghent University, Belgium</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Assist. Prof. Dr. Josip &Scaron;amard&zcaron;i&cacute;</h4>
                    <p class="team-affiliation">General Hospital Dr. Josip Ben&ccaron;evi&cacute;, Slavonski Brod</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Tomislav Kelem, MD</h4>
                    <p class="team-affiliation">IMC Priora</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Dr. Sr&dstrok;an Leventi&cacute;</h4>
                    <p class="team-affiliation">FERIT Osijek</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="team-member">
                    <div class="team-avatar"><i class="fa fa-user-circle-o fa-3x"></i></div>
                    <h4>Petar Naki&cacute;, MSc. Comp. Eng.</h4>
                    <p class="team-affiliation">University of Slavonski Brod</p>
                </div>
            </div>
        </div>
    </div>
</section>
